<h1>New message</h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
  <p>
    <b>Message</b><br />
    <%= f.text_field :message_id %>
  </p>

  <p>
    <b>From member</b><br />
    <%= f.text_field :from_member_id %>
  </p>

  <p>
    <b>To member</b><br />
    <%= f.text_field :to_member_id %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>Send date</b><br />
    <%= f.datetime_select :send_date %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
