<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :message_id %><br />
    <%= f.text_field :message_id %>
  </p>
  <p>
    <%= f.label :from_member_id %><br />
    <%= f.text_field :from_member_id %>
  </p>
  <p>
    <%= f.label :to_member_id %><br />
    <%= f.text_field :to_member_id %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :send_date %><br />
    <%= f.datetime_select :send_date %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>
