<h1>Editing member</h1>

<%= error_messages_for :member %>

<% form_for(@member) do |f| %>
  <p>
    <b>Sex</b><br />
    <%= f.text_field :sex %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Nickname</b><br />
    <%= f.text_field :nickname %>
  </p>

  <p>
    <b>Age</b><br />
    <%= f.text_field :age %>
  </p>

  <p>
    <b>Height</b><br />
    <%= f.text_field :height %>
  </p>

  <p>
    <b>Weight</b><br />
    <%= f.text_field :weight %>
  </p>

  <p>
    <b>Job</b><br />
    <%= f.text_field :job %>
  </p>

  <p>
    <b>Income</b><br />
    <%= f.text_field :income %>
  </p>

  <p>
    <b>Local</b><br />
    <%= f.text_field :local %>
  </p>

  <p>
    <b>Motivation</b><br />
    <%= f.text_field :motivation %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Favorite character</b><br />
    <%= f.text_field :favorite_character %>
  </p>

  <p>
    <b>Member</b><br />
    <%= f.text_field :member_id %>
  </p>

  <p>
    <b>Regist date</b><br />
    <%= f.datetime_select :regist_date %>
  </p>

  <p>
    <b>Exit date</b><br />
    <%= f.datetime_select :exit_date %>
  </p>

  <p>
    <b>Password</b><br />
    <%= f.text_field :password %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @member %> |
<%= link_to 'Back', members_path %>
